@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Ribeye);

body {
	margin: 10px;
	background-image: url(../img/background.jpg);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 10px;
}

.content-box {
	width: 50%;
	margin: 0 auto;
	box-shadow: 5px 5px 10px;
	background-image: url(../img/background2.jpg);
	padding: 18px;
}

.header img {
	float: left;
	padding: 10px;
}

.company_name {
	color: #330033;
	font-family: 'Ribeye', cursive;
	font-weight: bold;
	font-size: 54px;
	padding: 10px;
}

.motto {
	color: #CC3300;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-left:10px;
	margin-right:10px;
	margin-top: 5px;
	margin-bottom:10px;	
}



.homepage_content img {
	padding: 10px;
}

.general_info {
	color: #660066;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	padding: 5px;
	text-align: center;
}

/*menu stuff*/

dt {
	font-weight: bold;
}

dd {
	padding-left: 10px;
	font-style: italic;
}

.sub_header {
	color: #660066;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.pizza_sizes {
	color: #CC3300;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	padding: 5px;
	text-align: center;
}

.category {
	color: #660066;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
	text-align: center;
}

.subcategory {
	color: #CC3300;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	margin-bottom: 5px;
}

.not_pizza {
	font-weight: bold;
	text-align: center;
}

/*about us*/

.anecdote {
	text-indent: 30px;
	padding: 5px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-width: 767px) {
    /* styles to apply on very narrow screens */
    .carousel {
    	display: none;
    }
}
